* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body {
    padding: 8px;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 4px;
}

.dropdown-list {
    display: none;
    width: 70px;
    position: absolute;
    border: 1px solid #bbb;
    padding: 4px;
    background-color: #eee;
    text-align: center;
}

.dropdown-list>.item {
    cursor: pointer;
}

.dropdown-list>.item:hover {
    background-color: #999;
}

.img {
    width: 25%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.img img {
    width: 90%;
    height: 100%;
    padding: 0px 3px 0px 3px;
}

.img .arr-img {
    width: 10%;
}

.img .arr-img img {
    width: 100%;
    height: auto;
}